<template>
  <div id="gallery-container">
    <main class="gallery-main" style="background-color: {{ modelItem.vibrantColors.darkMuted }}">
      <div class="gallery-mainbar">
        <div class="gallery-mainbar-status">
          <a class="gallery-button square" href="../" title="Back to homepage" aria-label="Back to homepage">
            <span class="gallery-button-icon-content">&times;</span>
          </a>
          <div class="gallery-label">
            <h1 class="gallery-label-main">{{ modelItem.title }}</h1>
            <span class="gallery-label-note">{{ modelItem.date }}</span>
          </div>
          <button id="gallery-toggle" class="gallery-button square" title="Toggle Sidebar" disabled>
            <span class="gallery-button-icon-content">&ETH;</span>
          </button>
        </div>
        <div class="gallery-mainbar-nav">
          {{#if modelItem.meta.previous}}
          <a class="gallery-mainbar-nav-button gallery-mainbar-previous" href="./{{ modelItem.meta.previous.path }}">
            <span class="gallery-mainbar-nav-icon" aria-hidden="true">&larr;</span>
            <span class="sr-only">Previous Drawing</span>
            <span class="gallery-mainbar-nav-label">{{ modelItem.meta.previous.title }}</span>
          </a>
          {{/if}}
          {{#if modelItem.meta.next}}
          <a class="gallery-mainbar-nav-button gallery-mainbar-next" href="./{{ modelItem.meta.next.path }}">
            <span class="sr-only">Next Drawing</span>
            <span class="gallery-mainbar-nav-label">{{ modelItem.meta.next.title }}</span>
            <span class="gallery-mainbar-nav-icon" aria-hidden="true">&rarr;</span>
          </a>
          {{/if}}
        </div>
      </div>
      <div class="gallery-viewbox">
        {{#if modelItem.meta.previous}}
        <a class="gallery-previous" href="./{{ modelItem.meta.previous.path }}">&larr;</a>
        {{/if}}
        <img class="gallery-image" src="../media/{{modelItem.fileNamePublic}}" alt="{{modelItem.title}}">
        {{#if modelItem.meta.next}}
        <a class="gallery-next" href="./{{ modelItem.meta.next.path }}">&rarr;</a>
        {{/if}}
      </div>
    </main>
    <aside class="gallery-info">
      <h2>{{ modelItem.title }}</h2>
      <hr>
      <p>date {{ modelItem.date }}</p>
      <p>tags {{ modelItem.tags }}</p>
      <hr>
      {{{markdown (join modelItem.description) }}}
    </aside>
  </div>
</template>

<style>
  /* Necessary because vh can be unreliable */
  body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
</style>

<script>
  const module = {
    layout: "default",
    type: "dynamic",
    model: "mediaArt",
    data: {
      title: "Krank",
    }
  };
  module
</script>