<template>
  <div class="gallery-container">
    <main class="gallery-main shrunk" style="background-color: {{ modelItem.vibrantColors.darkMuted }}">
      <div class="gallery-mainbar">
        <a class="gallery-button" href="../" title="Back to homepage">
          &lAarr;
        </a>
        <div class="gallery-label">
          <h1 class="gallery-label-main">{{ modelItem.title }}</h1>
          <span class="gallery-label-note">{{ modelItem.date }}</span>
        </div>
        <a class="gallery-button" href="#toggle-sidebar" title="Toggle Sidebar">
          Toggle
        </a>
      </div>
      <div class="gallery-viewbox">
        {{#if modelItem.meta.previous}}
        <a class="gallery-previous" href="./{{ modelItem.meta.previous.path }}">&larr;</a>
        {{/if}}
        <img class="gallery-image" src="../media/{{modelItem.fileNamePublic}}" alt="{{modelItem.title}}">
        {{#if modelItem.meta.next}}
        <a class="gallery-next" href="./{{ modelItem.meta.next.path }}">&rarr;</a>
        {{/if}}
      </div>
    </main>
    <aside class="gallery-info">
      <h2>{{ modelItem.title }}</h2>
      <hr>
      <p>date {{ modelItem.date }}</p>
      <p>tags {{ modelItem.tags }}</p>
      <hr>
      <p>{{{markdown 'this **awesome** text is #{nice}' args=(obj '{"nice": "good"}') }}}</p>
      <p>Description2</p>
    </aside>
  </div>
</template>

<style>
</style>

<script>
  const module = {
    layout: "default",
    type: "dynamic",
    model: "mediaArt",
    data: {
      title: "Krank",
    }
  };
  module
</script>