<template>
  <div id="gallery-container">
    <main class="gallery-main" style="background-color: {{ modelItem.vibrantColors.darkMuted }}">
      <div class="gallery-mainbar">
        <div class="gallery-mainbar-status">
          <a id="gallery-close" class="gallery-button square" href="../" title="Back to homepage"
            aria-label="Back to homepage">
            <span class="gallery-button-icon-content">&times;</span>
          </a>
          <div class="gallery-label">
            <h1 class="gallery-label-main">{{ modelItem.title }}</h1>
            <span class="gallery-label-note">{{ modelItem.date }}</span>
          </div>
          <button id="gallery-toggle" class="gallery-button square" title="Toggle Sidebar" disabled>
            <span class="gallery-button-icon-content">&ETH;</span>
          </button>
        </div>
        <div class="gallery-mainbar-nav">
          {{#if modelItem.meta.previous}}
          <a class="gallery-mainbar-nav-button gallery-mainbar-previous" href="./{{ modelItem.meta.previous.path }}">
            <span class="gallery-mainbar-nav-icon" aria-hidden="true">&larr;</span>
            <span class="sr-only">Previous Drawing</span>
            <span class="gallery-mainbar-nav-label">{{ modelItem.meta.previous.title }}</span>
          </a>
          {{/if}}
          {{#if modelItem.meta.next}}
          <a class="gallery-mainbar-nav-button gallery-mainbar-next" href="./{{ modelItem.meta.next.path }}">
            <span class="sr-only">Next Drawing</span>
            <span class="gallery-mainbar-nav-label">{{ modelItem.meta.next.title }}</span>
            <span class="gallery-mainbar-nav-icon" aria-hidden="true">&rarr;</span>
          </a>
          {{/if}}
        </div>
      </div>
      <div class="gallery-viewbox">
        {{#if modelItem.meta.previous}}
        <a id="gallery-previous" class="gallery-previous" href="./{{ modelItem.meta.previous.path }}">&larr;</a>
        {{/if}}
        <img class="gallery-image" src="../media/art/{{modelItem.fileNamePublic}}" srcset="{{join sourceSet ', '}}"
          sizes="100vw" alt="{{modelItem.title}}">
        {{#if modelItem.meta.next}}
        <a id="gallery-next" class="gallery-next" href="./{{ modelItem.meta.next.path }}">&rarr;</a>
        {{/if}}
      </div>
    </main>
    <aside class="gallery-info">
      <h2>{{ modelItem.title }}</h2>
      <hr>
      <h3 class="sr-only">Date</h3>
      <p>{{ modelItem.date }}</p>
      <h3 class="sr-only">Tags</h3>
      <ul class="inline-list">{{#each modelItem.tags}}<li>{{> simple-tag label=this }}</li>{{/each}}</ul>
      <hr>
      {{{markdown (join modelItem.description) }}}
    </aside>
  </div>
</template>

<style>
  /* Necessary because vh can be unreliable */
  body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
</style>

<script>
  // TODO: Add dependency resolving to virtual machine
  function simplifyBytes(bytes) {
    if (bytes === 0) return '0 Byte';
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    const simplifiedSize = Math.round((bytes / Math.pow(1024, i)) * 100) / 100;
    return `${simplifiedSize} ${sizes[i]}`;
  }

  const sourceSet = resizeSet.map(entry => `../media/art/${entry.name}/${modelItem.fileNamePublic} ${entry.size}w`);
  sourceSet.push(`../media/art/${modelItem.fileNamePublic} 1920w`);

  export default {
    layout: "default",
    type: "dynamic",
    model: "mediaArt",
    sourceSet: sourceSet,
    title: modelItem.title + " \u2013 Krank",
    metaImage: "art/960p/" + modelItem.fileNamePublic,
    metaTitle: modelItem.title + " \u2013 Krank Art",
    metaSubtitle: `View this ${modelItem?.width} \u00d7 ${modelItem?.height}, ${simplifyBytes(modelItem?.fileSize)} image. `,
    metaAlt: modelItem.imageAlt,
    metaColor: modelItem?.vibrantColors?.darkMuted
  };
</script>