<template>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{path.relative}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{path.relative}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{path.relative}}/favicon-16x16.png">
    <link rel="manifest" href="{{path.relative}}/site.webmanifest">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{metaTitle}}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{path.base}}/media/{{metaImage}}">
    <meta property="og:url" content="{{path.base}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="{{metaSubtitle}}">
    <meta property="og:site_name" content="{{siteName}}">
    <meta name="twitter:image:alt" content="{{metaAlt}}">
    <meta name="twitter:site" content="{{siteTwitter}}">
    <meta name="theme-color" content="{{metaColor}}">
    <link rel="stylesheet" type="text/css" href="{{path.relative}}/bundle.css">
    <style>
      {{{style}}}
    </style>
  </head>

  <body>
    {{{ content }}}
    <script type="text/javascript" src="{{path.relative}}/bundle.js"></script>
    <script>{{{script}}}</script>
  </body>

  </html>
</template>

<style>
</style>

<script>
</script>