<template>
  <main class="container">
    {{> page-header}}
    <div class="container-text">
      <h1 class="sr-only">About</h1>
      <div class="about-banner">
        <div class="about-figure">
          <img class="about-image" style="background-color: {{siteColor}}" src="./media/{{siteThumbnail}}"
            alt="{{siteThumbnailAlt}}">
        </div>
        <div class="about-description">
          <ul class="about-prop-list">
            <li>Dumb bear with big heart.</li>
            <li>Perpetual tryhard.</li>
            <li>Furry artist.</li>
          </ul>
        </div>
      </div>
      <dl>
        {{#each faq }}
        <dt class="fag-term">{{this.term}}</dt>
        <dd class="fag-def">{{markdown (join this.definition)}}</dd>
        {{/each}}
      </dl>
      {{> page-footer}}
    </div>
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    title: "About",
    pageTitle: "About \u2013 Krank",
    metaImage: siteThumbnail,
    metaTitle: "About \u2013 Krank Art",
    metaSubtitle: "The myth, the man, the legend. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
    faq: [
      {
        term: "Who are you?",
        definition: [
          "I'm Krank. At day, I'm a UX designer. And at night, I like drawing and coding.",
        ]
      },
      {
        term: "What is this?",
        definition: [
          "This is my art portfolio showing all the furry art I created since 2019.",
        ]
      },
      {
        term: "Do you do commissions?",
        definition: [
          "Yes! Usually for friends or for special occasions. ",
          "Sadly I'm pretty limited in my drawing time, but please show me your idea! ",
          "You can contact me on Twitter at [@Krankomat96](https://twitter.com/Krankomat96). ",
        ],
      },
      {
        term: "How can I quickly navigate on the art pages?",
        definition: [
          "Press \`J\` to go to previous artwork. ",
          "Press \`L\` to go to next artwork. ",
          "Press \`K\` to show/hide artwork description. ",
        ]
      },
      {
        term: "Where is the naughty art?",
        definition: [
          "Heh... sadly not this site. ",
          "If you really want to know, you can contact me on Twitter at [@Krankomat96](https://twitter.com/Krankomat96). ",
        ],
      },
      {
        term: "How did you create this site?",
        definition: [
          "I wrote a custom static site generator. ",
          "It takes my art as input and outputs this website. ",
          "You can find the source code at https://github.com/krank-art/portfolio. ",
          "Keep in mind that the repository does not include the original art files. ",
        ]
      },
      {
        term: "Why did you not use a preexisting static site generator?",
        definition: [
          "Because it's fun to write your own! ",
          "I wanted fine grain control on the pages I wrote. ",
          "Copying plain HTML wouldn't have been efficient, so I had to write my own engine. ",
          "I've had the dream of writing my own templating engine since 2018. ",
        ]
      },
      {
        term: "Can I use this engine for my own site?",
        definition: [
          "Yes, but please provide a link back to this site."
        ]
      },
      {
        term: "Do you want to be my friend?",
        definition: [
          "Sure! Just write me a private message on Twitter ",
          "[@Krankomat96](https://twitter.com/Krankomat96) or tweet at me.",
        ]
      },
    ],
  };
</script>