<template>
  <main class="container">
    {{> page-header}}
    <h1 class="sr-only">Art overview</h1>
    <ul class="tags-filter inline-list" data-tag-list-id="art-list">
      {{#each tagsArt}}
      {{#if this.isRelevant}}
      <li>
        {{> simple-tag label=this.label aside=this.count tagId=this.id }}
      </li>
      {{/if}}
      {{/each}}
    </ul>
    <ul class="media-list" data-tag-list-for="art-list">
      {{#each mediaArt}}
      <li>
        <div class="media-list-item" data-tags="{{this.tags}}">
          <a class="media-list-link" href="{{path.relative}}art/{{this.path}}">
            <div class="media-list-item-figure">
              <img class="media-list-item-image" src="media/art/120p/{{this.fileNamePublic}}" alt=""
                style="background-color: {{ this.vibrantColors.darkMuted }}" loading="lazy">
            </div>
            <div class="media-list-item-title">{{this.title}}</div>
            <div class="media-list-item-aside">
              <span class="media-list-item-extra">
                <span class="sr-only">Date</span>
                {{fallback this.date "unknown"}}
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">Dimensions</span>
                {{this.width}} &times; {{this.height}}
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">File size</span>
                {{filesize this.fileSize}}
              </span>
            </div>
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
    {{> page-footer}}
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    title: "Art Overview \u2013 Krank",
    metaImage: siteThumbnail,
    metaTitle: "Art \u2013 Krank Art",
    metaSubtitle: "Overview for all art pieces. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
  };
</script>