<template>
  {{> header-square }}
  <main id="main">
    <div class="item-carousel row-small">
      {{#each artRow1}}
      <a class="item-carousel-link" href="art/{{this.path}}" title="{{this.title}}">
        <img class="item-carousel-art" src="media/art/240p/{{this.fileNamePublic}}" alt="{{this.title}}"
          style="background-color: {{ this.vibrantColors.darkMuted }}">
      </a>
      {{/each}}
    </div>
    <div class="item-carousel row-big">
      {{#each artRow2}}
      <a class="item-carousel-link" href="art/{{this.path}}" title="{{this.title}}">
        <img class="item-carousel-art" src="media/art/480p/{{this.fileNamePublic}}" alt="{{this.title}}"
          style="background-color: {{ this.vibrantColors.darkMuted }}">
      </a>
      {{/each}}
    </div>
    <div class="item-carousel row-small">
      {{#each artRow3}}
      <a class="item-carousel-link" href="art/{{this.path}}" title="{{this.title}}">
        <img class="item-carousel-art" src="media/art/240p/{{this.fileNamePublic}}" alt="{{this.title}}"
          style="background-color: {{ this.vibrantColors.darkMuted }}">
      </a>
      {{/each}}
    </div>
  </main>
  <!--
  <main class="container">
    {{> page-header}}
    <ul class="media-gallery">
      {{#each mediaArt}}
      <li>
        <div class="media-thumbnail">
          <a class="media-thumbnail-link" href="art/{{this.path}}">
            <img class="media-thumbnail-image" src="media/art/240p/{{this.fileNamePublic}}" alt="{{this.title}}"
              loading="lazy">
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
    {{> page-footer}}
  </main>
  -->
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    title: "Krank",
    pageTitle: "Krank",
    metaImage: siteThumbnail,
    metaTitle: "Krank Art",
    metaSubtitle: "Furry art media by Krank. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
    artRow1: [
      "alpaca-cute-pink",
      "ancus-portrait",
      "bunny-huh",
      "deer-town",
      "deer-with-antlers",
      "dino-with-hat",
      "dragon-blond",
      "fur-craft-scene-lousy-factory",
    ].map(path => mediaArtByPath[path]),
    artRow2: [
      "dragon-bubble-tea",
      "dragon-hug",
      "dragon-orange",
      "dragon-red",
      "dragon-smudge",
      "fur-craft-lizard-bomber",
    ].map(path => mediaArtByPath[path]),
    artRow3: [
      "giveaway-dragon-skwimfwos",
      "giveaway-hyena-ty",
      "mune-munch",
      "mune-sitting",
      "portraits-green-dragon",
      "rivet",
      "sheep-holy",
      "snow-canyon-utah",
      "soda-shaq-mischievous",
    ].map(path => mediaArtByPath[path]),
  };
</script>