<template>
  <template for="aside">
    {{> multi-button label="Test" listId="nsfw-view" buttons=listViewButtons
    attributes="data-switcher-for='nsfw-list'" }}
    {{> multi-button label="Test" listId="nsfw-sort" buttons=listSortButtons }}
    <ul class="tags-filter inline-list" data-tag-list-id="nsfw-list">
      {{#each tagsArt}}
      {{#if this.isRelevant}}
      <li>
        {{> simple-tag label=this.label aside=this.count tagId=this.id }}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </template>
  <template for="main">
    <h1 class="sr-only">Art overview</h1>
    {{> unlocker-mask }}
    <ul class="media-list show-as-thumbnails" data-tag-list-for="nsfw-list" data-switcher-id="nsfw-list">
      {{#each mediaNsfw}}
      <li>
        <div class="media-list-item" data-tags="" data-date="">
          <a class="media-list-link" href="{{path.relative}}art/{{this.path}}">
            <div class="media-list-item-figure">
              <img class="media-list-item-image" src="media/art/120p/{{this.fileNamePublic}}" alt=""
                style="background-color: {{ this.vibrantColors.darkMuted }}" loading="lazy">
              <img class="media-list-item-image-big" src="media/art/s160p/{{this.fileNamePublic}}" alt=""
                style="background-color: {{ this.vibrantColors.darkMuted }}" loading="lazy">
            </div>
            <div class="media-list-item-title">{{this.path}}</div>
            <div class="media-list-item-aside">
              <span class="media-list-item-extra">
                <span class="sr-only">Date</span>
                {{fallback this.date "unknown"}}
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">Dimensions</span>
                {{this.width}} &times; {{this.height}}
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">File size</span>
                {{filesize this.fileSize}}
              </span>
            </div>
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
  </template>
</template>

<style>
</style>

<script>
  export default {
    layout: "aside",
    title: "Art Overview",
    pageTitle: "Nsfw Overview \u2013 Krank",
    listViewButtons: [
      { id: "thumbnails", label: "Thumbnails", attributes: "data-switcher-view='show-as-thumbnails'", active: true },
      { id: "details", label: "Details", attributes: "data-switcher-view='show-as-details'" },
      { id: "list", label: "List", attributes: "data-switcher-view='show-as-list'" },
    ],
    listSortButtons: [
      { id: "descending", label: "&darr; Descending", attributes: "data-tag-sorter='descending'", active: true },
      { id: "ascending", label: "&uarr; Ascending", attributes: "data-tag-sorter='ascending'" },
    ],
    metaImage: siteThumbnail,
    metaTitle: "Art \u2013 Krank Art",
    metaSubtitle: "Overview for all NSFW art pieces. You need a password to view. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
  };
</script>