<template>
  <template for="aside">
    {{> multi-button label="Test" listId="nsfw-view" buttons=listViewButtons
    attributes="data-switcher-for='nsfw-list'" }}
    {{> multi-button label="Test" listId="nsfw-sort" buttons=listSortButtons }}
    <ul class="tags-filter inline-list" data-tag-list-id="nsfw-list">
      {{#each tagsArt}}
      {{#if this.isRelevant}}
      <li>
        {{> simple-tag label=this.label aside=this.count tagId=this.id }}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </template>
  <template for="main">
    <h1 class="sr-only">Art overview</h1>
    {{> unlocker-mask }}
    <ul class="media-list show-as-thumbnails" data-tag-list-for="nsfw-list" data-switcher-id="nsfw-list" data-encryption-list="nsfw-list">
      {{#each mediaNsfw}}
      <li>
        <div class="media-list-item" data-tags="" data-date="" data-encryption-item="{{this.pathHash}}">
          <a class="media-list-link" href="{{path.relative}}nsfw/{{this.pathHash}}">
            <div class="media-list-item-figure">
              <span class="media-list-item-placeholder" style="background: 
                  linear-gradient(to bottom, transparent, {{ this.hashColors.[2] }}), 
                  linear-gradient(to left, transparent, {{ this.hashColors.[1] }}), 
                  {{ this.hashColors.[0] }}"><span 
                  class="media-list-item-placeholder-icon" data-enc-tag="placeholder">🔒</span>{{ this.pathHash }}</span>
              <img class="media-list-item-image" data-enc-tag="image-small" loading="lazy" hidden>
              <img class="media-list-item-image-big" data-enc-tag="image-thumb" loading="lazy" hidden>
            </div>
            <div class="media-list-item-title" data-enc-tag="title">{{this.pathHash}}</div>
            <div class="media-list-item-aside">
              <span class="media-list-item-extra">
                <span class="sr-only">Date</span>
                <span data-enc-tag="date">Locked</span>
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">Dimensions</span>
                <span data-enc-tag="dimensions">Locked</span>
              </span>
              <span class="media-list-item-extra">
                <span class="sr-only">File size</span>
                <span data-enc-tag="file-size">Locked</span>
              </span>
            </div>
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
  </template>
</template>

<style>
</style>

<script>
  export default {
    layout: "aside",
    title: "Art Overview",
    pageTitle: "Nsfw Overview \u2013 Krank",
    listViewButtons: [
      { id: "thumbnails", label: "Thumbnails", attributes: "data-switcher-view='show-as-thumbnails'", active: true },
      { id: "details", label: "Details", attributes: "data-switcher-view='show-as-details'" },
      { id: "list", label: "List", attributes: "data-switcher-view='show-as-list'" },
    ],
    listSortButtons: [
      { id: "descending", label: "&darr; Descending", attributes: "data-tag-sorter='descending'", active: true },
      { id: "ascending", label: "&uarr; Ascending", attributes: "data-tag-sorter='ascending'" },
    ],
    metaImage: siteThumbnail,
    metaTitle: "Art \u2013 Krank Art",
    metaSubtitle: "Overview for all NSFW art pieces. You need a password to view. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
  };
</script>